{
  "presets": ["es2015", "latest"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-decorators",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
